<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon:</p>
<% @pokemons = Pokemon.all %>
<% @pokemons.each do |pokemon| %>
	<% if pokemon.trainer_id == @trainer.id %>
		Name:  <%= pokemon.name %>
		Level: <%= pokemon.level %>
		Health: <%= pokemon.health %>
		<%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %>	
	<% end %>
<% end %>
<% if current_trainer.id == @trainer.id %>
	<%= link_to 'Create New', new_path %>
<% end %>
